body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.header {
  .header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      background: url("./logo.svg");
      background-size: contain;
      background-repeat: none;
      background-position: center;
      width: 150px;
      height: 67px;
    }
    .info {
      color: #707070;
    }
  }
}

h1 {
  font-size: 80px;
  text-align: center;

  &.uncompleted {
    color: #ff8686;
  }

  &.completed {
    color: #85c5b4;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  max-width: 400px;

  .taskCheck {
    justify-self: end;
    align-self: center;
    margin-right: 20px;
    appearance: none;
    background: url("./check-circle-unchecked.svg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    width: 26px;
    height: 25px;
    visibility: hidden;
  }

  .taskInput {
    padding: 15px;
    background-color: #f7f7f7;
    word-wrap: break-word;
    width: 200px;
    border: none;
    font-size: 16px;
    color: #707070;
  }

  .addBtn {
    justify-self: start;
    align-self: center;
    margin-left: 20px;
    appearance: none;
    background: url("./add-button.svg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    border: none;
    width: 25px;
    height: 25px;
  }
  @media only screen and (max-width: 400px) {
    .taskInput {
      width: 200px;
    }

    .taskCheck {
      width: auto;
      height: auto;
    }
  }
}

.taskListContainer,
.completedTaskContainer {
  width: 100%;
  max-width: 400px;

  .taskList,
  .completedTaskList {
    padding: 0;

    li {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      width: 100%;
      max-width: 400px;
      padding-bottom: 30px;
      border-bottom: 1px solid #eee;

      .checkbox {
        justify-self: end;
        align-self: start;
        margin-right: 20px;
        margin-top: 12px;
        appearance: none;
        background: url("./check-circle-unchecked.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        width: 26px;
        height: 25px;

        &:checked {
          background: url("./check-circle.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          width: 26px;
          height: 25px;
        }
      }

      .taskText,
      .editInput {
        padding: 15px;
        background-color: #f7f7f7;
        word-wrap: break-word;
        width: 200px;
        border: none;
        height: auto;
        font-size: 16px;
        color: #707070;
      }

      .buttonContainer {
        display: grid;
        align-self: start;
        margin-top: 12px;

        .editBtn {
          grid-column: 3/3;
          appearance: none;
          background: url("./edit-button.svg");
          background-size: cover;
          background-repeat: none;
          background-position: center;
          border: none;
          width: 25px;
          height: 25px;
          margin: 0 0 0 20px;
        }

        .deleteBtn {
          grid-column: 4/4;
          appearance: none;
          background: url("./delete-button.svg");
          background-size: cover;
          background-repeat: none;
          background-position: center;
          border: none;
          width: 25px;
          height: 25px;
          margin: 0 0 0 10px;
        }
      }

      @media only screen and (max-width: 400px) {
        .buttonContainer {
          grid-row: 2;
          grid-column: 2;
          display: block;
          justify-self: center;
          margin-top: 10px;
        }
      }
    }

    li input[type="text"] {
      display: none;
    }

    li.editMode .editInput {
      display: block;
      font-size: 16px;
      font-family: "Open Sans";
    }

    li.editMode .taskText {
      display: none;
    }

    li.editMode {
      .editBtn {
        background: none;
        padding: 0;
      }

      .editInput {
        border: 1px solid darkslategray;
      }
    }
  }
}

.taskListContainer {
  ul {
    li {
      list-style-type: none;
      display: flex;
      margin: 30px 0 0 0;
      &:nth-child(1) {
        margin-top: 100px;
      }
    }
  }
}

.completedTaskContainer {
  ul {
    li {
      margin: 30px 0 0 0;

      .taskText {
        color: #bfbaba;
        text-decoration: line-through;
      }
    }
  }
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

.visible {
  display: block;
  transition: opacity 2s ease-in-out;
}
